.cart {
    position: relative;
}

.badge {
    font-size: 14px;
    background: green;
    color: #fff;
    padding: 0 8px;
    border-radius: 12px;
    position: absolute;
    margin-left: 20px;
    top: -5px;
}